<?xml version="1.0" encoding="UTF-8"?><settings>
    <version value="1.0"/>
    <width value="1100"/>
    <height value="700"/>
    <!--Sounds-->
    <enableSnd value="true"/>
    <masterVol value="50"/>
    <!--Obfuscate File-->
    <enableObfuscateFileSnd value="true"/>
    <obfuscateFileSnd value="/internalSnd/obfuscate.wav"/>
    <!--Batch Operation-->
    <enableBatchOperationSnd value="true"/>
    <batchOperationSnd value="/internalSnd/save.wav"/>
    <playObfuscateSndWhileBatch value="false"/>
    <!--Batch Operation-->
    <enableErrorSnd value="true"/>
    <errorSnd value="/internalSnd/error.wav"/>
    <!--Sound chooser dialog-->
    <soundChooserFilter value=""/>
    <soundChooserSearchIn value="0"/>
    <soundChooserAutoplay value="true"/>
    <soundChooserVol value="50"/>
    <!--Appearance-->
    <lookAndFeel value="FlatMacDarkLaf"/>
    <!--Main-->
    <entityPosObfuscation value="None"/>
    <entityNameObfuscation value="None"/>
    <entityNameObfuscationKind value="0"/>
    <entityNameObfuscationLength value="5"/>
    <verbose value="false"/>
    <inputType value="0"/>
    <inputPath value="Insert a file path here"/>
    <outputType value="0"/>
    <outputSubfolder value="uboa_obf"/>
    <outputWorkfolder value="$DOCUMENTS"/>
    <!--Hammer path-->
    <preferFileTypeAssociation value="false"/>
    <hammerPath value="Path to executable (ex: /bin/hammer.exe"/>
    <!--Leaderboard-->
    <rankingParticipation value="false"/>
    <!--Username-->
    <allowUsername value="false"/>
    <usernameType value="displayName"/>
    <displayName value="$USERACCOUNT"/>
    <!--VMF Download-->
    <allowVmfDownload value="false"/>
    <vmfDownloadType value="obf"/>
    <!--Other data-->
    <allowFilename value="false"/>
    <allowDate value="false"/>
    <allowTimeElapsed value="false"/>
    <allowNumEnts value="false"/>
    <allowSize value="false"/>
</settings>