<?xml version="1.0" encoding="UTF-8"?><settings>
    <version value="1.0"/>
    <width value="1100"/>
    <height value="700"/>
    <!--Sounds-->
    <enableSnd value="true"/>
    <masterVol value="100"/>
    <!--Open File-->
    <enableOpenFileSnd value="true"/>
    <openFileSnd value="/internalSnd/open.wav"/>
    <!--Analyze File-->
    <enableAnalyzeFileSnd value="true"/>
    <analyzeFileSnd value="/internalSnd/analyzeFile.wav"/>
    <!--Obfuscate File-->
    <enableObfuscateFileSnd value="true"/>
    <obfuscateFileSnd value="/internalSnd/obfuscate.wav"/>
    <!--Save File-->
    <enableSaveFileSnd value="true"/>
    <saveFileSnd value="/internalSnd/save.wav"/>
    <!--Error-->
    <enableErrorSnd value="true"/>
    <errorSnd value="/internalSnd/error.wav"/>
    <!--Sound chooser dialog-->
    <soundChooserFilter value=""/>
    <soundChooserSearchIn value="0"/>
    <soundChooserAutoplay value="true"/>
    <soundChooserVol value="100"/>
    <!--Appearance-->
    <lookAndFeel value="FlatMacDarkLaf"/>
    <!--Main-->
    <entityPosObfuscation value="None"/>
    <entityNameObfuscation value="None"/>
    <entityNameObfuscationKind value="0"/>
    <entityNameObfuscationLength value="5"/>
    <verbose value="false"/>
    <inputType value="0"/>
    <inputPath value="Insert a file path here"/>
    <outputType value="0"/>
    <outputSubfolder value="uboa_obf"/>
    <outputWorkfolder value="$DOCUMENTS"/>
    <!--Popups-->
    <showPopupOnAnalyze value="true"/>
    <showPopupOnObfuscate value="true"/>
    <showPopupOnSave value="true"/>
    <showPopupOnException value="true"/>
    <!--Hammer path-->
    <preferFileTypeAssociation value="false"/>
    <hammerPath value="Path to executable (ex: /bin/hammer.exe"/>
</settings>